#login_box {width:500px; margin:auto;position:relative;}
#login_box p {color:#fff;padding:0px;margin:0px;}
#login_box label {display:block;margin: 20px 0px 20px;}
#login_box input {margin: 20px 0px 0px;float:none;width:100%;}
#login_box button {margin: 20px 0px 0px;float:left;width:100%;}
#login_box .providers {margin: 20px 0px 20px;}
